ProductService/ProductServiceConsoleClient/Service References/ProductSvc/ProductService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ProductServicesHost/ProductService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PrepareService" />
  <xs:element name="ProcessData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PrepareService" minOccurs="0" name="records" nillable="true" type="q1:ArrayOfRecordData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnRecordProcessed">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PrepareService" minOccurs="0" name="data" nillable="true" type="q2:RecordData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnRecordProcessedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>